.balanceCard {
   background-color: var(--card-background);
   padding: 1.5rem;
   border-radius: 12px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   flex: 1 1 45%; 
   min-width: 250px; 
   max-width: 100%;
   transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
   margin: 0.4rem;
}

.balanceCard h2 {
   font-size: 1.2rem;
   color: var(--card-heading-color);
   margin-bottom: 0.5rem;
}

.balanceCard p {
   font-size: 1.8rem;
   font-weight: bold;
   margin-bottom: 1rem;
   color: var(--card-text);
}

.addButton {
   background-color: var(--button-background); /* Darker gray */
   color: var(--button-text);
   border: none;
   padding: 0.6rem 1.2rem;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.addButton:hover {
   background-color: var(--button-hover-background); /* Even darker gray */
   color: var(--button-text-hover);
}

@media (max-width: 768px) {
   .balanceCard {
       flex: 1 1 100%;
       margin: 0.5rem 0; 
   }
}
