.balanceCard {
   background-color: #1E2438;
   padding: 1.5rem;
   border-radius: 12px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   flex: 1 1 45%; 
   min-width: 250px; 
   max-width: 100%;
   transition: transform 0.2s;
   margin: 0.4rem;
}

/* .balanceCard:hover {
   transform: scale(1.02);
} */

.balanceCard h2 {
   font-size: 1.2rem;
   color: #B2B8D2;
   margin-bottom: 0.5rem;
}

.balanceCard p {
   font-size: 1.8rem;
   font-weight: bold;
   margin-bottom: 1rem;
   color: #ECEFF4;
}

.addButton {
   background-color: #3272E2;
   color: #ECEFF4;
   border: none;
   padding: 0.6rem 1.2rem;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.addButton:hover {
   background-color: #2551B2;
}

@media (max-width: 768px) {
   .balanceCard {
       flex: 1 1 100%;
       margin: 0.5rem 0; 
   }
}
