.mapButton {
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
 }
 
 .mapButton:hover {
    background-color: var(--button-hover-background);
    color: var(--button-text-hover);
 }