.header {
    background-color: var(--header-background); /* Dynamically changes based on theme */
    color: var(--text-color); /* Text adapts to theme */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    margin-top: -0.3rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.searchBar {
    padding: 0.7rem;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: var(--serchbar-background); /* Background adjusts to theme */
    color: var(--card-text); /* Text color adjusts to theme */
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon, .burgerIcon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--icon-color); /* Icon color adapts to theme */
    transition: color 0.3s ease;
}

.icon:hover, .burgerIcon:hover {
    color: var(--hover-icon-color); /* Hover color adapts to theme */
}

.burgerIcon {
    font-size: 2rem;
    margin-right: 1rem;
}
