.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1A1F36;
    margin-bottom: 2rem;
    border-radius: 12px; /* Adds rounded corners */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}

.searchBar {
    padding: 0.7rem;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: #2A2E45;
    color: #ECEFF4;
    outline: none;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon, .burgerIcon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #8A93A2;
    transition: color 0.3s ease;
}

.icon:hover, .burgerIcon:hover {
    color: #ECEFF4;
}
