:root {
   --active-nav-background: #272D45; /* Darker gray for button */
   --active-nav-text: #ECEFF4; /* Light text for contrast */
   --nav-hover-background: #272D45; /* Even darker shade for hover */
   --nav-text-hover: #ECEFF4; /* Optional hover text color */
}

.light-theme {
   --active-nav-background: #696969; /* Darker gray for button */
   --active-nav-text: #ECEFF4; /* Light text for contrast */
   --nav-hover-background: #696969; /* Even darker shade for hover */
   --nav-text-hover: #ECEFF4; /* Optional hover text color */
}

.sidebar {
   background-color: var(--sidebar-background);
   color: var(--text-color);
   width: 15vw;
   min-width: 220px;
   padding-top: 1rem;
   /* padding-left: 1rem; */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   transform: translateX(0);
   transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebarHidden {
   transform: translateX(-100%);
}

.logoContainer {
   width: 100%;
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
}

.logo {
   width: 100px;
   padding-left: 15px;
   height: auto;
   object-fit: contain;
}

.nav {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.nav :global(.active) {
   color: var(--active-nav-text);
   background-color: var(--active-nav-background);
}

.navItem {
   color: var(--text-color);
   text-decoration: none;
   padding: 0.8rem 0.8rem;
   font-size: 1rem;
   display: flex;
   align-items: center;
   cursor: pointer;
   border-radius: 8px;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.icon {
   margin-right: 0.5rem;
   font-size: 1.2rem;
}

.chevronIcon {
   margin-left: auto;
   font-size: 1rem;
}

.navItem:hover {
   color: var(--nav-text-hover);
   background-color: var(--nav-hover-background);
}

.subNav {
   display: flex;
   flex-direction: column;
   margin-left: 1.2rem;
}

.subNavItem {
   color: var(--text-color);
   text-decoration: none;
   padding: 0.5rem 0;
   padding-left: 1rem;
   font-size: 0.9rem;
   display: flex;
   align-items: center;
   transition: color 0.3s ease;
}

.subNavIcon {
   margin-right: 0.5rem;
   font-size: 1rem;
}

.subNavItem:hover {
   color: var(--nav-text-hover);
   background-color: var(--nav-hover-background);
}
