.marketplaceTable {
   width: 100%;
   border-collapse: separate;
   border-spacing: 0 0.4rem;
}

.marketplaceTable th {
   background-color: var(--card-background);
   font-weight: bold;
   color: var(--card-text);
   padding: 0.75rem;
   text-align: left;
   border-radius: 8px 8px 0 0;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.marketplaceTable tbody tr {
   background-color: var(--card-background);
   border-radius: 8px;
   transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.marketplaceTable tbody tr:hover {
   transform: scale(1.02);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.marketplaceTable td {
   padding: 0.75rem;
   color: var(--card-text);
   text-align: left;
}

.buyButton {
   background-color: var(--button-background);
   color: var(--button-text);
   border: none;
   padding: 0.4rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.buyButton:hover {
   background-color: var(--button-hover-background);
   color: var(--button-text-hover);
}
